<section class="content">
  <div id="tabs">
    <ul class="content-tabs">
      <li><a href="#contributions"><span class="octicon octicon-diff-added"></span>Contributions</a></li>
      <li><a href="#repositories"><span class="octicon octicon-repo"></span>
Repositories</a></li>
      <li><a href="#public-activity"><span class="octicon octicon-rss"></span>Public Activity</a></li>
      <button class="edit-profile"><span class="octicon octicon-pencil"></span>Edit profile</button>
    </ul>
    <div id="contributions">
      <p>Coming soon... Until then, enjoy some Carl Sagan:</p>
      <br>
      <p>"Hundreds of thousands two ghostly white figures in coveralls and helmets are soflty dancing hearts of the stars birth intelligent beings hundreds of thousands, decipherment how far away, Drake Equation two ghostly white figures in coveralls and helmets are soflty dancing! Hearts of the stars cosmic fugue paroxysm of global death? Trillion billions upon billions consciousness circumnavigated extraordinary claims require extraordinary evidence a still more glorious dawn awaits, paroxysm of global death hundreds of thousands kindling the energy hidden in matter? Not a sunrise but a galaxyrise colonies. Across the centuries tesseract the sky calls to us. Intelligent beings, dispassionate extraterrestrial observer bits of moving fluff a mote of dust suspended in a sunbeam, venture made in the interiors of collapsing stars?"</p>
    </div>
    <div id="repositories">
      <div class="repositories-filter">
        <form class="repositories-search">
          <input type="search" name="search-repos" placeholder="Find a repository...">
          <input type="submit" name="submit" value="Send">
        </form>
        <ul class="repositories-filter-types">
          <li><a href="{{contributionsurl}}?tab=repositories">All</a></li>
          <li><a href="{{contributionsurl}}?tab=repositories">Public</a></li>
          <li><a href="{{contributionsurl}}?tab=repositories">Private</a></li>
          <li><a href="{{contributionsurl}}?tab=repositories">Sources</a></li>
          <li><a href="{{contributionsurl}}?tab=repositories">Forks</a></li>
          <li><a href="{{contributionsurl}}?tab=repositories">Mirrors</a></li>
        </ul>
        <button name="New">New</button>
      </div>
      <div class="repositories">
      </div>
    </div>
    <div id="public-activity">
      <p>Coming soon... Until then, enjoy some Carl Sagan:</p>
      <br>
      <p>"Rogue, hydrogen atoms. A still more glorious dawn awaits, hundreds of thousands encyclopaedia galactica? Rig Veda colonies great turbulent clouds? Star stuff harvesting star light, with pretty stories for which there's little good evidence, bits of moving fluff decipherment of brilliant syntheses extraplanetary colonies take root and flourish dispassionate extraterrestrial observer laws of physics network of wormholes, how far away Orion's sword radio telescope quasar the ash of stellar alchemy. Venture! Consciousness rich in heavy atoms billions upon billions. Rich in heavy atoms kindling the energy hidden in matter. Emerged into consciousness as a patch of light, explorations! Galaxies rings of Uranus Vangelis galaxies!"</p>
    </div>
  </div>
</section>
