{{#each repositories}}
  <div class="repository-info">
    <h3 class="repository-name"><a href={{html_url}}>{{name}}</a></h3>
    <div class="repository-stats">
      <ul>
        <li>{{language}}</li>
        <li><span class="octicon octicon-star"></span>{{stargazers_count}}</li>
        <li><span class="octicon octicon-git-branch"></span>{{forks}}</li>
      </ul>
    </div>
  </div>
  <p class="repository-updated">Updated {{updatedFromNowValue}}</p>
{{/each}}
