<a href="https://www.github.com/account"><img src="{{avatar}}"></a>
<section>
  <h1>{{fullname}}</h1>
  <h2>{{username}}</h2>
</section>
<section>
  <ul>
    <li><span class="octicon octicon-location"></span>{{location}}</li>
    <li><span class="octicon octicon-link"></span><a href="{{blog}}">{{blog}}</a></li>
    <li><span class="octicon octicon-clock"></span>{{joindate}}</li>
  </ul>
</section>
<section>
  <ul>
    <a><span>{{followers}}</span><span>Followers</span></a>
    <a><span>{{starred}}</span><span>Starred</span></a>
    <a><span>{{following}}</span><span>Following</span></a>
  </ul>
</section>
<section>
  {{#each organizations}}
    <h3>Organizations</h3>
    <a href="orgurl"><img src="avatarurl"></a>
    {{!mouseover orgname}}
  {{/each}}
</section>
